.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.topGamesPage {
    padding: 20px;
    color: rgb(0, 8, 255);
    max-width: 1400px;
    margin: 0 auto;
}

.topGamesPage h2 {
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 3px solid #15ff00;
    padding-bottom: 10px;
    width: 175px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.gameItem {
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gameItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.gameItem img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.gameItem h3 {
    font-size: 16px;
    color: #0fef13;
}

.loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #fb1f07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}