.navMenu {
    display: flex;
    align-items: center;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: #FF073A;
    animation: vibrate 0.3s linear;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}