.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0px 30px 0px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF073A;
}

.link {
    color: #FFFFFF;
    /* Белый текст для ссылок */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #FF073A;
    /* Неоновый красный при наведении */
    animation: shake 1s ease-in-out;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 8px;
    width: 300px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #00BFFF;
    background-color: transparent;
}

.searchInput:focus {
    border: #FF073A;
}

.searchButton {
    padding: 8px 12px;
    font-size: 16px;
    background-color: color #FFFFFF;
    border-radius: 4px;
    border-color: #39FF14;
    cursor: pointer;
    margin-left: 8px;
}

.searchButton:hover {
    background-color: #39FF14;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50px);
    }

    50% {
        transform: translateX(50px);
    }

    75% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}