@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.gameItemAnimation {
    opacity: 0;
    animation: fadeInSlide 0.6s ease-out forwards;
}

.gameItemAnimation.visible {
    opacity: 1;
}

.genrePage {
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
    border: none;
    animation: fadeInDown 0.8s ease-out;
}

.genrePage h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    animation: fadeInDown 0.8s ease-out;
    /* Анимация заголовка */
}

.genrePage .gameList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.genrePage {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInDown 0.8s ease-out;
}

.gameItem {
    height: 290px;
    text-align: center;
    border-radius: 15px;
    border: #333;
    font-size: 20px;
    font-weight: 600;
    color: #2dcc25;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Уберите анимацию из .gameItem, чтобы избежать конфликтов */
}

.genrePage .gameItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}

.genrePage .gameImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.genrePage .gameName {
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    background-color: #333;
}

.genrePage .gameItem a {
    text-decoration: none;
    color: inherit;
}

.genrePage .gameItem a:hover .gameName {
    color: #05f219;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    text-align: center;
    color: red;
    font-size: 18px;
}

.loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #fb1f07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}